@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  background: #fff;
  margin: 0;
  padding: 0;
  color: #2f3842;
  text-align: center;
  transition: all 0.4s ease-in-out;
  height: 100%;
  font-family: "Anonymous Pro", monospace;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background: transparent;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: #d6b13f;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c19b27;
  border-radius: 10px;
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  max-height: 250px;
  z-index: -1;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 26%);
}
section {
  background: #f2f2f2;
  border-bottom: 1px solid #d6b13f;
  padding: 8px 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row div {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.row div a {
  text-decoration: none;
  color: #2f3842;
}

.row div i {
  color: #d6b13f;
  margin-right: 10px;
  font-weight: 600;
}
.nav-bar {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar .menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 50%;
  margin: auto;
  justify-content: space-between;
  z-index: 100;
  text-align: center;
  background: #f2f2f2;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 25px;
}
.nav-bar .menu a {
  text-decoration: none;
  color: #2f3842;
}
.nav-bar .menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  position: relative;
  z-index: 7;
  background-color: transparent;
  transition: all ease-in-out 0.4s;
}
.nav-bar .menu a:hover::after {
  background-color: #50317f;
  width: 100%;
}

.nav-bar .menu a:hover {
  color: #50317f;
}
.nav-bar .menu i {
  margin-right: 10px;
  color: #50317f;
}
.services-container {
  min-width: 100%;
  height: 150px;
  text-align: center;
  font-size: 40px;
  color: #50317f;
}
.services-container > h1::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  width: 380px;
  height: 3px;
  background-color: #c19b27;
  text-align: center;
  z-index: 7;
}
.services {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 30px;
  flex-wrap: wrap;
  text-align: center;
}

.services .service-1 {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  margin: 10px auto;
  background: url("../images/service1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.services .service-2 {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  margin: 10px auto;
  background: url("../images/service2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.services .service-3 {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  margin: 10px auto;
  background: url("../images/service3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.services div h1 {
  background-color: rgb(242, 242, 242, 0.4);
  text-transform: uppercase;
  padding: 13px 5px;
  margin: 50px 0;
  color: #2f3842;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all ease-in-out 0.4s;
}
.services div:hover h1 {
  background-color: rgb(242, 242, 242, 0.8);
  color: #50317f;
}
.services div p {
  background: rgb(242, 242, 242, 0.8);
  font-size: 18px;
  padding: 10px;
  margin-top: 100px;
  opacity: 0;
  border-top: solid 3px #c19b27;
  transition: all 0.4s ease-in-out;
}
.services div:hover p {
  opacity: 1;
}
.footer {
  background: url("../images/footer-bg.svg");
  width: 100%;
  height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: calc(100% * 1.1 / 2.5);
  margin-top: 1000px;
  text-align: left;
  padding-left: 20px;
}
.footer .dev-name {
  font-weight: 600;
  font-size: 2.8rem;
  color: #f2f2f2;
  letter-spacing: 1px;
  padding-top: 400px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.created-with {
  padding-top: 20px;
  font-size: 1.7rem;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.created-with span {
  padding-left: 4px;
}

.created-with .love {
  background-color: rgb(242, 242, 242, 0.8);
  padding: 5px;
  border-radius: 15px;
}
.created-with i {
  color: #e71515;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
}
.footer .container .phone a,
.footer .container .email a {
  text-align: right;
  font-size: 24px;
  text-decoration: none;
  color: #2f3842;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/*home grid style*/
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-container {
  position: relative;
  text-align: left;
  margin-left: 30px;
}
.home-container .title {
  font-size: 48px;
  font-weight: 700;
}

.home-container p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: rgb(116, 128, 140);
}
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.slider {
  background-image: url("../images/service0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -100px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.demo .demo-card {
  background-image: url("../images/demoCard.jpg");
  background-size: cover;
  margin: 10px auto;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border: #c19b27 2px solid;
  text-align: left;
  padding-left: 10px;
}
.demo .demo-card p {
  font-size: 20px;
  font-weight: 700;
}
.demo .demo-card p span {
  background-color: rgb(242, 242, 242, 0.8);
  color: #50317f;
  font-size: 24px;
  text-transform: uppercase;
  animation: typewriter 0.2s;
}

/******Animation********/
@keyframes typewriter {
  from {
    font-size: 0px;
  }
  to {
    font-size: 24px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.demo form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: #c19b27 2px solid;
  width: 47%;
  margin: 10px auto;
  padding: 10px;
}
.demo form div {
  text-align: left;
}

.demo form label {
  margin: 5px 10px 5px 0;
  text-align: left;
}
.demo form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.demo form button {
  background-color: #50317f;
  border: 1px solid #ddd;
  color: white;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 35%;
}
.generate-price {
  width: 30%;
  margin: 10px auto;
  background-color: rgb(242, 242, 242, 0.8);
  border-radius: 20px;
}
.generate-price p {
  margin-left: 5px;
}
.butt {
  display: flex;
}
.generate-price button:nth-child(2) {
  background-color: #da385d;
  border: 1px solid #ddd;
  color: white;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 35%;
  border-radius: 10px;
  margin-left: 40px;
}
.generate-price button:nth-child(1) {
  background-color: #47c869;
  border: 1px solid #ddd;
  color: white;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 35%;
  border-radius: 10px;
  margin-left: 40px;
}
